/ModernC_Qs_Answered_in_Ada/Chapter_2/build/obj
Notes/main.synctex.gz
Notes/main.synctex.gz
/Notes/output_files
/Notes/output_files
/Notes/output_files
Notes/output_files/main.fls
/Notes/output_files
