/ModernC_Qs_Answered_in_Ada/Chapter_2/build/obj
Notes/main.synctex.gz
Notes/main.synctex.gz
/Notes/output_files
/Notes/output_files
/Notes/output_files
Notes/output_files/main.fls
/Notes/output_files
/ModernC_Qs_Answered_in_Ada/Chapter_2/alire/flags
/ModernC_Qs_Answered_in_Ada/Chapter_2/config
learning-ada.pdf
/Notes/output_files
/Notes/output_files
Notes/output_files/main.toc
Notes/main.synctex.gz
/ModernC_Qs_Answered_in_Ada/Chapter_3/build/obj
/ModernC_Qs_Answered_in_Ada/Chapter_3/build
/ModernC_Qs_Answered_in_Ada/Chapter_3/build/obj
*.o
/ModernC_Qs_Answered_in_Ada/Chapter_3/build
